body {
    /* max-width: 1440px;
    max-height: 1024px; */

}

/* header && nav */
.header {
    box-shadow: 0 2px 3px #FE6E8B;
    height: 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo {
    color: #F83B66;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.menu,
ul,
li {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.nav-btn {
    border: 2.5px solid #F83B66;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    color: #F83B66;
}

.btn2 {
    background-color: #F83B66;
    color: aliceblue;
}

.nav-btn:hover {
    background-color: #E51951;
    color: aliceblue;
}

/* main */

main {
    display: flex;
    justify-content: center;
    margin-top: 90px;

}

.main-container {
    border: 2px solid #E51951;
    width: 850px;
    height: 580px;
    color: #0c0c0c;
    border-radius: 20px;
    box-shadow: .5px .5px 11px .1px #FE6E8B;
    background-color: #FFC0CB;
}

/* form */

.title {
    /* color: #C20E43; */
    margin-top: 20px;
    text-align: center;
}

.title,
h2 {
    color: #C20E43;
    font-size: 40px;

}

.form-container {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 752px;
    height: 334px;
    justify-content: space-around;
    align-items: center;
}

.form-container {
    margin-left: 50px;
}

.form-container p {
    margin-bottom: 7px;
}

.form-container input {
    width: 350px;
    height: 40PX;
    border-radius: 30PX;
    border: 1px solid #C0BFF3;
    padding: 15px;
}

.form-container ::placeholder {
    color: #C0BFF3;
    margin-left: 10px;
}



.checked-box {
    margin-top: 15px;
    align-items: center;
}

.requied-field {
    color: #E51951;
}

#terms {
    margin-left: 65px;
    width: 1.2em;
    height: 1.2em;
    background-color: white;
    border-radius: 50%;
    -webkit-appearance: none;
    border: 1px solid #8A113C;
    appearance: none;
    cursor: pointer;
}

#terms:checked {
    background-color: #F83B66;
}

.btn-accept {
    margin-top: 23px;
    display: flex;
    justify-content: center;
    gap: 32px;

}

#btn-accept__1,
#btn-accept__2 {
    background-color: #F83B66;
    width: 230px;
    height: 38px;
    border-radius: 50px;
    border: none;
    color: #fff;
    box-shadow: .5px .5px 11px .1px #FE6E8B;
    cursor: pointer;
}